
	
	<div id="loading-bar">
		<div id="progressbar"></div>
	</div>

	
	




	<style>
	.ui-progressbar-value { background-image: url(stylesheets/images/pbar-ani.gif); }
	</style>
	<script>
	$(function() {
		$( "#progressbar" ).progressbar({
			value: 59
		});
	});
	</script>