						<table>
						<tr>
							<td style="vertical-align:top"><label for="stops">Stops</label></br><img id="stops" src="images/stop.png" tooltip="# of tops"/><%= result.stops %></td>
							<td style="vertical-align:top"><label for="time1">Time</label></br><img id="time1" src="images/time.png" tooltip="# of tops"/><%= result.transit_time %></td>
							
						</tr>
						<tr>
							<td style="vertical-align:top"><label for="pricetag">Price Tag</label><img id="pricetag" src="images/pricetag.jpg" tooltip="Pricetag"/><%= result.price_tag %></td>
							<td style="vertical-align:top"><label for="realcost">Final Price</label><img id="realcost" src="images/dollar.jpg" tooltip="Estimated Total Price"/><%= result.real_price %></td>
							
						</tr>
						</table>