<link href="/stylesheets/visualize.css?1306004945" media="screen" rel="stylesheet" type="text/css" /> 
<link href="/stylesheets/visualize-dark.css?1305838256" media="screen" rel="stylesheet" type="text/css" /> 
<link href="/stylesheets/visualize-light.css?1305875344" media="screen" rel="stylesheet" type="text/css" /> 


	<div id="graph" class="round">
		<table style="display:none">
		<caption>Price Forecasts</caption>
		<thead>
			<tr>
			<td></td>
			<th scope="col">5/25</th>
			<th scope="col">5/26</th>
			<th scope="col">5/27</th>
			<th scope="col">5/28</th>
			<th scope="col">5/29</th>
			<th scope="col">5/30</th>
			<th scope="col">5/31</th>
			<th scope="col">6/1</th>
			<th scope="col">6/2</th>
			<th scope="col">6/3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Price Tag</th>
			<td>190</td>
			<td>160</td>
			<td>40</td>
			<td>120</td>
			<td>30</td>
			<td>70</td>
			<td>30</td>
			<td>70</td>
			<td>30</td>
			<td>70</td>
		</tr>
		<tr>
			<th scope="row">Real Price</th>
			<td>3</td>
			<td>40</td>
			<td>30</td>
			<td>45</td>
			<td>35</td>
			<td>49</td>
			<td>30</td>
			<td>70</td>
			<td>30</td>
			<td>70</td>
		</tr>
	
	</tbody>
</table>
	
	
	</div>