<div id="newsideinfo">
		<h3><a href="#">Every Form of Transportation</a></h3>
			<div class="addspace">
				Search through buses, planes, trains and ferries to help plan your adventure.
			</div>
		<h3><a href="#">Real Cost Accounting</a></h3>
			<div class="addspace">
				Uncover deceiving taxes, remote airports, and luggage fees with our real pricing estimate.
			</div>
		<h3><a href="#">Comprehensive Booking</a></h3>
			<div class="addspace">
				Book all legs of the journey from one site.
			</div>
</div>