<%= form_tag results_path, :method => 'get', :id=>'searchform', :remote=>true do %> 
	<div id="notaccordion">
		<h3><a href="#">Change Locations</a></h3>
			<div class="addspace">
				<b>Beginning Address:</b>
				<div class="ui-widget">
					<label for="start_address">Street: </label>
					<input id="start_address" name="start_address" class="submittable"/></br>
					<label for="start_location">City: </label>
					<input id="start_location" name="start_location" class="submittable"/></br>
				</div>
				<b>Ending Address:</b>
				<div class="ui-widget">
					<label for="end_address">Street: </label>
					<input id="end_address" name="end_address" class="submittable"/></br>
					<label for="end_location">City: </label>
					<input id="end_location" name="end_location" class="submittable"/></br>
				</div>
			</div>
	
		<h3><a href="#">Flight Times</a></h3>
		<div id="contact" class="addspace">
			<div id="sliders">
						<style>
					#slider-range,#SlideMax,#slider-range2,#SlideMax2{width:180px;}
					#slider-range,#time, #SlideMax, #slider-range2,#time2, #SlideMax2{margin:10px;display:block;}
				</style>
				Departure Time:
				<div id="slider-range"></div>
				<span id="SlideMax"></span>
				<span id="time"></span>
				Return Time:
				<div id="slider-range2"></div>
				<span id="SlideMax2"></span>
				<span id="time2"></span>
			</div>
		</div>
		<h3><a href="#">Stops/Layovers</a></h3>
		<div class="addspace">
			<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
				<div align="center">
					Max # Layovers: 
					<select name="mydropdown">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="3">4</option>
					<option value="3">5</option>
					</select>
				</div>
			</form>
		</div>
		<h3><a href="#">Change Dates</a></h3>
		<div class="addspace">
			<div class="demo">

			<p>Date: <input type="text" id="datepicker-start" name="start_date" class="submittable"></p>

			</div><!-- End demo -->
			<div class="demo">

			<p>Date: <input type="text" id="datepicker-end" name="return_date" class="submittable"></p>

			</div><!-- End demo -->
		</div>
		<h3><a href="#">Cabin</a></h3>
		<div class="addspace">
			<div id="format">
				<input type="checkbox" id="check1"  class="submittable"/><label for="check1">Economy</label>
				<input type="checkbox" id="check2"  class="submittable"/><label for="check2">Business</label>
				<input type="checkbox" id="check3"  class="submittable"/><label for="check3">First</label>
			</div>
		</div>
	</div>
<% end %>

