<table>
	<tr>
		<td>
			<div id="cart">
				<h1 class="ui-widget-header">Save</h1>
				<div>
					<div class="ui-widget-content">
						<ol>
							<li class="placeholder">Drag Your Favorite Routes Here</li>
						</ol>
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<% for i in (1..20) %>
				<div class="right-ad-bar">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-5609456848181056";
					/* contentbartextad */
					google_ad_slot = "2176448574";
					google_ad_width = 234;
					google_ad_height = 60;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</div>
			<% end %>
		</td>
	</tr>
</table>