<div id="accordion" class="ui-widget" style="width: 300px;  height: 300px; margin-left: 600px; margin-top: -350px; font-size: 12px;">
			<h3><a href="#">How do you want to travel?</a></h3>
			<div>
				<p>
				Quigal seeks to help consumers with the initial decision phase of traveling:  
				how am I going to get there, how much am I willing to spend, and how convenient 
				do I want it to be. We help the consumer to weigh convenience versus its cost, 
				and avoid the hopping around multiple bus, train and airline websites.
				</p>
			</div>
			<h3><a href="#">Personal Preference</a></h3>
			<div>
				<p>
				We sort based on convenience, price, and efficiency, and present recommendations 
				to a consumer based on past choices. The Quigal engine learns the travel preferences 
				of a consumer based on past choices, and presents them with a journey that fits 
				their desired price range and timeframe.
				</p>
			</div>
			<h3><a href="#">Every Travel Option!</a></h3>
			<div>
				<p>
				Quigal aggregates all possible forms of transportation for a possible journey, 
				and all combinations of transportation. When presenting a travel recommendation 
				we consider ferries, trains, buses, planes, taxis, car rentals and hovercraft. 
				</p>
			</div>
			<h3><a href="#">Accurate Cost Accounting</a></h3>
			<div>
				<p>
				At Quigal we redefine the meaning of cost. Cost is not the price of a flight 
				from Paris to Toulouse, but rather the price of the journey to the airport, the 
				cost of the flight, any airport taxes and baggage fees, and the cost of the 
				taxi/train into the destination city. In short, all costs associated with the 
				journey, regardless of whether they are included in the ticket price.
				</p>
				<p>
				This is the type of info usually only known by experienced travelers. Quigal 
				helps to make sure you actually purchase the cheapest journey for your unique 
				situation.
				</p>
			</div>

		</div>