<div class="transportation-table">
<table>
	<tr align="center">
		<td><input type="hidden" form="searchform" name="traincheckbox" value="0" class="submittable"/>
			<input type="checkbox" form="searchform" id="traincheckbox" name="traincheckbox" value="1" align="middle"  class="submittable"/>
		
		</td>
		<td><input type="hidden" form="searchform" name="planecheckbox" value="0" class="submittable"/>
			<input type="checkbox" form="searchform" id="planecheckbox" name="planecheckbox" value="1" align="middle"  class="submittable"/>
		
		</td>
		<td><input type="hidden" form="searchform" name="buscheckbox" value="0" class="submittable"/>
			<input type="checkbox" form="searchform" id="buscheckbox" name="buscheckbox" value="1" align="middle" class="submittable"/>
		
		</td>
		<td><input type="hidden" form="searchform" name="ferrycheckbox" value="0" class="submittable"/>
			<input type="checkbox" form="searchform" id="ferrycheckbox" name="ferrycheckbox" value="1" align="middle"  class="submittable"/>
		
		</td>

		<td><input type="hidden" form="searchform" name="carcheckbox" value="0" class="submittable"/>
			<input type="checkbox" form="searchform"  id="carcheckbox" name="carcheckbox" value="1" align="middle"  class="submittable"/>
		
		</td>
		<td><input type="hidden" form="searchform" name="bikecheckbox" value="0" class="submittable"/>
			<input type="checkbox" form="searchform" id="bikecheckbox" name="bikecheckbox" value="1" align="middle"  class="submittable"/>
		
		</td>
		<td><input type="hidden" form="searchform" name="taxicheckbox" value="0" class="submittable"/>
			<input type="checkbox" form="searchform" id="taxicheckbox" name="taxicheckbox" value="1" align="middle"  class="submittable"/>
		
		</td>
	</tr>
</table>

</div>
